$border-radius-base     : 5px;
$border-radius-large    : 10px;
$border-radius-small    : 3px;
$btn-default-bg         : #f1f3f6;
$btn-default-border     : #dbe1e8;
$btn-default-color      : #394263;
$caret-width-base       : 2px;
$caret-width-large      : 3px;
$caret-width-small      : 1px;
$cursor-disabled        : "not-allowed";
$dropdown-header-color  : #dbe1e8;
$dropdown-link-active-bg: transparent;

$body-bg      : #f5f5f5;
$body-color   : #000000;
$preloader-bg : #ef6e73;
$sidebar-bg   : #adadad;
$sidebar-color: #ef6e73;
$sidebar-hover: #000000;

$nav-foot-color : #777777;
$nav-foot-bg    : #f9fafc;
$nav-foot-border: #e7e7e7;

$accent-size  : "3px";
$accent-border: "solid";
$bg-blue      : #83bad4;
$bg-red       : #d9534f;
$bg-gold      : #f0ad4e;
$bg-green     : #f0ad4e;
$bg-blue-young: #bcdaec;

$color-neon: #5bc0de;

$border-grey: 1px solid #dbe1e8;

$navbar-height      : 78px;
$navbar-border-color: transparent;
$navbar-mb          : 0px;

$theme-colors: ("primary": #1bbae1,
    "secondary": #ef6e73,
    "info": #3498db,
    "success": #27ae60,
    "warning": #e67e22,
    "danger": #e74c3c);

.panel.panel-accent-gold {
    border-top: $accent-size $accent-border $bg-gold;
}

.panel.panel-accent-green {
    border-top: $accent-size $accent-border $bg-green;
}

.panel.panel-accent-red {
    border-top: $accent-size $accent-border $bg-red;
}

.panel.panel-accent-blue {
    border-top: $accent-size $accent-border $bg-blue;
}

.panel.panel-accent-orange {
    border-top: $accent-size $accent-border #f39c12;
}

.panel.panel-accent-pink {
    border-top: $accent-size $accent-border #e671b8;
}

.panel.panel-accent-purple {
    border-top: $accent-size $accent-border #7b4f9d;
}

.panel.panel-accent-lime {
    border-top: $accent-size $accent-border #8cbf26;
}

.panel.panel-accent-magenta {
    border-top: $accent-size $accent-border #ff0097;
}

.panel.panel-accent-teal {
    border-top: $accent-size $accent-border #00aba9;
}

.panel.panel-accent-turquoise {
    border-top: $accent-size $accent-border #1abc9c
}

.panel.panel-accent-emerald {
    border-top: $accent-size $accent-border #2ecc71;
}

.panel.panel-accent-amethyst {
    border-top: $accent-size $accent-border #9b59b6;
}

.panel.panel-accent-wet-asphalt {
    border-top: $accent-size $accent-border #34495e;
}

.panel.panel-accent-midnight-blue {
    border-top: $accent-size $accent-border #2c3e50;
}

.panel.panel-accent-sun-flower {
    border-top: $accent-size $accent-border #f1c40f;
}

.panel.panel-accent-pomegranate {
    border-top: $accent-size $accent-border #c0392b;
}

.panel.panel-accent-silver {
    border-top: $accent-size $accent-border #bdc3c7;
}

.panel.panel-accent-asbestos {
    border-top: $accent-size $accent-border #7f8c8d;
}

.bg-color-gold {
    background-color: #f0ad4e;
}

.bg-color-green {
    background-color: #d9534f;
}

.bg-color-red {
    background-color: $bg-red;
}

.bg-color-blue {
    background-color: $bg-blue;
}

.bg-color-blue-young {
    background-color: $bg-blue-young;
}

.text-color-white {
    color: #ffffff;
}